<call>
  <config>
    <item>
      <key>host</key>
      <value>172.24.0.6</value>
    </item>
    <item>
      <key>username</key>
      <value>iam</value>
    </item>
    <item>
      <key>password</key>
      <value>1234</value>
    </item>
    <item>
      <key>target</key>
      <value>554198932694</value>
    </item>
  </config>
  <commands>
    <cmd>wait(1)</cmd>
    <cmd>playback(audios\seu_codigo)</cmd>
    <cmd>wait(1)</cmd>
    <cmd>playback(audios\r)</cmd>
    <cmd>playback(audios\w)</cmd>
    <cmd>playback(audios\w)</cmd>
    <cmd>wait(1)</cmd>
    <cmd>playback(audios\d)</cmd>
    <cmd>playback(audios\m)</cmd>
    <cmd>playback(audios\s)</cmd>
    <cmd>playback(audios\repetindo)</cmd>
    <cmd>playback(audios\r)</cmd>
    <cmd>playback(audios\w)</cmd>
    <cmd>playback(audios\w)</cmd>
    <cmd>wait(1)</cmd>
    <cmd>playback(audios\d)</cmd>
    <cmd>playback(audios\m)</cmd>
    <cmd>playback(audios\s)</cmd>
    <cmd>hangup()</cmd>
  </commands>
</call>